.projectsListContainer {

    width: 100%;
}
.Projects-List {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.Project-Name {
    color: #FD4556;
    text-align: right;
    font-size: 80px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}
.Project-Description {
    color: #000;
    text-align: right;
    font-size: 32px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}
.Project-Description.dark-mode {
    color: #F5F5F5;
}
.groupProjectTitle {
    color: #53212B;
    text-align: right;
    font-size: 84px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
    text-decoration: underline;
}
.groupProjectTitle.dark-mode {
    color: #FFFBF5;
}

/* Small tablets */
@media only screen and (max-width: 580px) {
    .Project-Name {
        font-size: 64px;
    }
    .Project-Description {
        font-size: 24px;
    }
    .groupProjectTitle {
        font-size: 72px;
    }
}
@media only screen and (max-width: 410px) {
    .Project-Name {
        font-size: 48px;
    }
    .groupProjectTitle {
        font-size: 56px;
    }
}
