.Showcase-Section {
    color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.projectContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
}
.Showcase-Section.dark-mode {
    color: #FFFBF5;
}
.titleSection {
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* font stuff */
    color: #FD4556;
    font-style: italic;
    line-height: normal;
    font-size: 100px;
    font-weight: 200;
}
.backButton {
    color: grey;
    font-style: italic;
    line-height: normal;
    width: 100px;
    font-size: 28px;
    font-weight: 10;
    cursor: pointer;
    background-color: transparent;
    border: none;

}
.projectTitle {

}
.spacer {
    width: 100px;
}
.projectImage {
    width: 100%;
}
.projectLogos {
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
}
.projectLogos img {
    width: 80px;
}
.linkLogos {
    display: flex;
    gap: 30px;
}
.techLogos {
   display: flex;
    align-items: center;
    gap: 30px;
}
h1, h2, h3, p{
    margin-top: 10px;
    margin-bottom: 10px;
}
h1 {
    color: #BD3944;
    font-size: 64px;
    font-style: normal;
    font-weight: 200;
    text-align: center;
    margin-top: 50px;
}
h2 {
    color: #FD4556;
    font-size: 60px;
    font-style: normal;
    font-weight: 100;
    margin-top: 25px;

}
h3 {
    color: #53212B;
    font-size: 40px;
    font-style: normal;
    font-weight: 100;
    margin-top: 12px;

}
.Showcase-Section.dark-mode h3 {
    color: #FFFBF5;
}
p {
    font-size: 32px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

/* Large tablets and small laptops */
@media only screen and (max-width: 1024px) {
    .projectContainer {
        width: 100%; /* Full width on smaller screens */
    }
    .titleSection {
        font-size: 80px;
    }
    .projectLogos img {
        width: 64px;
    }
    .techLogos {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 3 logos per row */
    }
    .backButton {
        font-size: 24px;
    }
    h2 {
        font-size: 48px;
    }
    p {
        font-size: 32px;
    }
}
/* Phones */
@media only screen and (max-width: 610px) {
    .projectContainer {
        width: 100%;
    }
    .titleSection {
        font-size: 48px;
    }
    .projectLogos img {
        width: 44px;
    }
    .techLogos {
        grid-template-columns: repeat(3, 1fr); /* 3 logos per row */
    }
    .backButton {
        font-size: 14px;
    }
    h1 {
       font-size: 44px;
    }
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 32px;
    }
    p {
        font-size: 24px;
    }
}



